.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-centered {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  margin-bottom: 20px;
}

.suggestions-title {
  text-align: start;
  font-size: 18px;
}

.suggestions-item {
  text-align: start;
  color: grey;
}

.search-button {
  color: var(--primary);
  position: absolute;
  left: 20px;
  top: 20px;
}

.trip-owner-picture {
  height: 30px;
  width: 30px;
}
