.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-centered {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  margin-bottom: 20px;
}

.trips-title {
  color: var(--primary);
  padding-left: 40px;
}

.suggestions-title {
  text-align: start;
  font-size: 18px;
}

.suggestions-item {
  text-align: start;
  color: grey;
}

.search-button {
  color: var(--primary);
  position: absolute;
  left: 50px;
  top: 50px;
  font-size: 30px;
  z-index: 900;
}

.trip-owner-picture {
  height: 30px;
  width: 30px;
}

.favorite-icon {
  color: var(--primary);
  position: absolute;
  right: 0px;
  font-size: 35px;
}
