.home {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  margin-bottom: 10px;
}

.suggestions-title {
  text-align: start;
  font-size: 18px;
}

.suggestions-item {
  text-align: start;
  color: grey;
}
