.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-margin {
  margin-bottom: 0px;
}

.home-title {
  color: var(--primary);
}

.search-title {
  color: var(--primary);
}

.slogan {
  font-style: italic;
  color: grey;
}

.suggestions-title {
  text-align: start;
  font-size: 18px;
}

.suggestions-item {
  text-align: start;
  color: grey;
}

.search-button {
  color: var(--primary);
  font-size: 2.5rem;
  z-index: 900;
  margin-bottom: 5px;
}

.trip-owner-picture {
  height: 30px;
  width: 30px;
}

.favorite-row {
  margin-bottom: 5px;
}

.favorite-icon {
  color: var(--primary);
}
