.profile-img {
  position: absolute;
  right: 30px;
  top: 35px;
  z-index: 999;
}

.nav-item {
  background-color: white;
}

.fb-login {
  color: white !important;
  background-color: #3b5998 !important;
  border-color: #3b5998 !important;
}

.login-modal {
  margin-top: 0px;
  margin-bottom: 0px;
}

.username-help {
  margin-bottom: 0px;
  font-size: 15px;
}

.link {
  text-decoration: underline;
}
